#my-button {
    height: 50px;
    width: 100px;
}

#my-element {
    margin-top: 300px;
    /* background-color: darkblue; */
}

#footer {
    background-color: black;
    height: 200px;
    width: 200px;
}